.converter {
  --HEAD_SIZE: 6%;
  --MENU_SIZE: 20%;

  min-height: 100%;
  height: 100%;
}

.gridTemplate {
  display: grid;
  height: 100%;
}

.head {
  grid-area: head;
}

.siteNavigation {
  grid-area: siteNavigation;
}

.gridLayout {
  grid-template-rows: var(--HEAD_SIZE) calc(100% - var(--HEAD_SIZE));
  grid-template-columns: var(--MENU_SIZE) calc(100% - var(--MENU_SIZE));
  grid-template-areas:
    "head head"
    "siteNavigation content";
}

.topheader {
  box-sizing: border-box;
  border: 3px white solid;
  height: 100%;
  min-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.siteNavigation {
  display: block;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	font-weight: bold;
  margin: 20px;
  background: #3498DB;
}

.siteNavigation ul {
  display: flex;
  flex-direction: column;
  background: #3498DB;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.siteNavigation li {
	color: #fff;
  background: #3498DB;
	display: block;
	float: left;
	margin: 0 2px 0 0;
	padding: 12px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

.siteNavigation li span {
  color: #fff;
  text-decoration: none;
  display: block;
}

.siteNavigation li:hover {
	@include transition(background, 0.2s);
	background: #52a6df;
	cursor: pointer;
}

.siteNavigation ul li ul {
	background: #52a6df;
	visibility: hidden;
	float: left;
  min-width: 50px;
	position: absolute;
  transition: visibility 0.65s ease-in;
  margin: -31px 0 0 146px;
	left: 0;
	z-index: 999;
}

.siteNavigation ul li:hover > ul,
.siteNavigation ul li ul:hover {
   visibility: visible;
}

.siteNavigation ul li ul li {
  display: flex;
  align-items: center;
  justify-content: center;
	clear: both;
  width: 100%;
}

.siteNavigation ul li ul li:hover {
	background: #74b7e4;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moneyBox {
  display: block;
  border: 1px solid white;
  margin: 20px;
  width: 300px;
  max-height: 100px;
}

.moneyBoxTitle {
  display: block;
  font-size: 18px;
  font-weight: bolder;
  margin: 10px 0 15px 0;
}

.money {
  display: block;
  margin: 5px;
}

.converterBox {
  margin: 40px 0;
  display: block;
  border: 1px solid white;
  width: 400px;
}

.converterBoxField {
  display: block;
  margin-top: 10px;
}

.converterBoxField input {
  margin-left: 10px;
}

.buyBtn {
  margin: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
